*.ps1      linguist-detectable
*.xml      linguist-detectable
*.json     linguist-detectable
*.jsonc    linguist-detectable
*.jsonl    linguist-detectable
*.plist    linguist-detectable
# *.d.ts     linguist-detectable -linguist-generated -linguist-vendored -lingust-documentation

**/tsconfig.json -linguist-detectable
**/jsconfig.json -linguist-detectable
**/package.json -linguist-detectable
**/package-lock.json -linguist-detectable
**/.package-lock.json -linguist-detectable
**/manifest.json -linguist-detectable
**/.*rc.json -linguist-detectable
test/**    -linguist-detectable
deprecated/** -linguist-detectable
development_scripts/** -linguist-detectable
.vscode/** -linguist-detectable
.github/** -linguist-detectable
.eslint/** -linguist-detectable
index.cjs  -linguist-detectable
index.mjs  -linguist-detectable
